<h1>Login</h1>
<form #registerForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <h2 class="text-ceter text-primary"></h2>
    <hr>
    <div class="form-group">
        <input type="email" class="form-control" name="email" [(ngModel)]="model.Email" placeholder="Enter your email">
    </div>
    <hr>
    <div class="form-group">
        <input type="password" class="form-control" name="password" [(ngModel)]=" model.Password " placeholder="Enter your password">
    </div>
    <hr>
    <div class="ErrorComponent" *ngIf="errors != {}">
        <div *ngFor="let error of errors | keyvalue">
            <b style="color: red;">{{error.value}}</b> <br>
        </div>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Login</button>
        <a href="home" class="btn btn-info mr-2">Cancel</a>
    </div>
</form>