<div class="mainContaiter">
    <div class="firstPartContainer">
        <div class="firstFlexContainer">
            <img class="image " src="http://localhost:5222/api/Image/GetPhoto?path={{item.pictureURL}} ">
            <div class="secondPartContainer">
                <div class="">
                    <p class="rating ">{{item.globalScore}}</p>
                </div>
                <div class="">
                    <img class="star " src="/assets/star.png " alt="/assets/nonAviableImage.png ">
                </div>
            </div>
        </div>
        <div class="secondFlexContainer">
            <h2>{{item.name}}</h2>
            <hr class="bigHR">
            <p class="p">Game studio: {{item.gameStudio}}</p>
            <hr class="bigHR">
            <p class="p">Status: {{item.globalStatus}}</p>
            <hr class="bigHR">
            <p class="p">Date relize: {{item.relizeDate | date:'MM/dd/yyyy'}}</p>
            <div class="userInfo" *ngIf="isUser">
                <hr class="bigHR">
                <p class="p">Your score: {{item.userScore}}</p>
                <hr class="bigHR">
                <p class="p">Your status: {{item.userStatus}}</p>
            </div>

            <hr class="bigHR">
            <div class="dropdown" dropdown>
                <a class="btn" dropdownToggle>{{this.status}}</a>
                <div class="dropdown-menu mt-3" *bsDropdownMenu="">
                    <a class="dropdown-item" (click)="addToList('Planed')">Planed</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="addToList('Progress')">Progress</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="addToList('Finished')">Finished</a>
                </div>
            </div>
        </div>
    </div>


    <div class="thirdPartContainer">
        <h2>About a film</h2>
        <hr class="maxHR">
        <p class="description">{{item.description}}</p>
        <hr class="maxHR">

    </div>
</div>