<table *ngIf="!editMode" class="table">
    <tr>
        <th>Email</th>
        <th>FirstName</th>
        <th>SecondName</th>
        <th>Roles</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor='let user of users'>
        <td>{{user.email}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.secondName}}</td>
        <td>
            <div *ngFor='let role of user.roles'>
                {{role.name}}
            </div>
        </td>
        <td><a class="btn btn-sm btn-primary" (click)='editButton(user)'>Edit</a></td>
        <td><a class="btn btn-sm btn-danger" (click)='deleteButton(user.id)'>Delete</a></td>
    </tr>
</table>

<div *ngIf="editMode" class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <app-edit-user [userFromlistComponent]="currentUser" (cancelEdit)="cancelEditMode($event)" ></app-edit-user>
        </div>
    </div>
</div>