.background-image {
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-repeat: repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
}

.nav {
    position: relative;
    height: 66px;
    flex: auto 0 0;
}

.content {
    flex: auto 1 1;
    // position: relative;
}

.mainContaiter {
    height: 1500px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}