<div class="mainContaiter" *ngIf="!isActiveCollection">
    <div class="firstPartContainer">
        <div class="firstFlexContainer">
            <img class="image " src="http://localhost:5222/api/Image/GetPhoto?path={{user.photoURL}} ">
            <div class="secondPartContainer">
                <br>
                <h4>Gender: {{user.gender}}</h4>
                <h4>SecondName: {{user.gender}}</h4>
                <h4>Email: {{user.email}}</h4>
                <h4>Age: 19</h4>
            </div>
        </div>

        <div class="secondFlexContainer">
            <div class="mainFrame">
                <h2>{{user.firstName}}</h2>
                <h4>{{user.userName}}</h4>
                <hr class="bigHR">
            </div>
            <div class="container">
                <a (click)="selectCollection('Serials')" class="button"><span>&#9733;</span>Serials</a>
            </div>
            <div class="container">
                <a (click)="selectCollection('Films')" class="button"><span>&#9733;</span>Films</a>
            </div>
            <div class="container">
                <a (click)="selectCollection('Anime')" class="button"><span>&#9733;</span>Anime</a>
            </div>
            <div class="container">
                <a (click)="selectCollection('Games')" class="button"><span>&#9733;</span>Games</a>
            </div>
            <div class="container">
                <a (click)="selectCollection('Books')" class="button"><span>&#9733;</span>Books</a>
            </div>
        </div>
    </div>
</div>

<div class="collectionContainer" *ngIf="isActiveCollection">
    <div class="selectContainer">
        <h2>{{selectedCollection}}</h2>
        <div class="planed">
            <h5 (click)="selectSubSection('planed')">Planed</h5>
        </div>
        <div class="progres">
            <h5 (click)="selectSubSection('progress')">Progress</h5>
        </div>
        <div class="finished">
            <h5 (click)="selectSubSection('finished')">Finished</h5>
        </div>
    </div>
    <div class="tableContainer" [ngSwitch]="selectedCollection">

        <ng-template ngSwitchCase="Serials">
            <table class="table">
                <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Rating</th>
                </thead>
                <tbody>
                    <tr *ngFor=" let serial of user.serials; let i=index" (click)="selectItem(serial.serialID)">
                        <td>{{i}}</td>
                        <td>{{serial.name}}</td>
                        <td>{{serial.userScore}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-template>

        <ng-template ngSwitchCase="Films">
            <table class="table">
                <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Rating</th>
                </thead>
                <tbody>
                    <tr *ngFor=" let film of user.films; let i=index" (click)="selectItem(film.filmID)">
                        <td>{{i}}</td>
                        <td>{{film.name}}</td>
                        <td>{{film.userScore}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-template>

        <ng-template ngSwitchCase="Anime">
            <table class="table">
                <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Rating</th>
                </thead>
                <tbody>
                    <tr *ngFor=" let anime of user.anime; let i=index" (click)="selectItem(anime.animeID)">
                        <td>{{i}}</td>
                        <td>{{anime.name}}</td>
                        <td>{{anime.userScore}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-template>

        <ng-template ngSwitchCase="Games">
            <table class="table">
                <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Rating</th>
                </thead>
                <tbody>
                    <tr class="listItem" *ngFor=" let game of user.games; let i=index" (click)="selectItem(game.gameID)">
                        <td>{{i}}</td>
                        <td>{{game.name}}</td>
                        <td>{{game.userScore}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-template>

        <ng-template ngSwitchCase="Books">
            <table class="table">
                <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Rating</th>
                </thead>
                <tbody>
                    <tr *ngFor=" let book of user.books; let i=index" (click)="selectItem(book.bookID)">
                        <td>{{i}}</td>
                        <td>{{book.name}}</td>
                        <td>{{book.userScore}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-template>

    </div>
</div>