<form #editForm="ngForm" (ngSubmit)="editUser()" autocomplete="off">
    <h2 class="text-center text-primary">Edit</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" name="email" [(ngModel)]="userFromlistComponent.email"
            placeholder="Email">
    </div>

    <div class="form-group">
        <input id="testinp" type="text" class="form-control" name="firstName"
            [(ngModel)]="userFromlistComponent.firstName" placeholder="FirstName">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="secondName" [(ngModel)]="userFromlistComponent.secondName"
            placeholder="SecondName">
    </div>

    <h4>Roles:</h4>
    <div *ngFor="let role of roles">

        <div class="form-check">
            <input type="checkbox" (click)="onCheck($event?$event:!$event, role.id)" id="{{role.id}}" class="form-check-input">
            <label class="form-check-label"> {{role.name}} </label>

        </div>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Edit</button>
        <button class="btn btn-info mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>
